---
layout: home_section_layout
---

{% if page.profile %}
<section class="home-section">
  <div class="container">
    {% include about/about.liquid %}
  </div>
</section>
{% endif %}

<!-- News -->
{% if page.news and site.announcements.enabled %}
  <section class="home-section">
    <div class="container">
        <div class="row news">
            <div class="col-12 col-lg-4 section-heading">
                <h2>
                    <a href="{{ '/news/' | relative_url }}" style="color: inherit">News</a>
                </h2>
            </div>
            <div class="col-12 col-lg-8">
                {% include news.liquid limit=true %}
            </div>
        </div>

    </div>
  </section>
{% endif %}


{% if page.selected_papers %}
    <section class="home-section">
        <div class="container">
            {% include about/featuredPublications.liquid %}
        </div>
    </section>
{% endif %}